/*how to choose step description*/
.how-to-choose-step-table-item{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}
.how-to-choose-step-table-item-title-wrapper{

}
.how-to-choose-step-table-item-title-inner-wrapper{
    margin: 0 auto;
    width: 595px;
    display: table;
    padding-bottom:25px;
}
.how-to-choose-step-table-item-title-udescore-wrapper{
    display: table-cell;
    vertical-align: middle;
}
.how-to-choose-step-table-item-title-udescore{
    width: 135px;
    height: 1px;
    background: #a4a4a4;
}
.how-to-choose-step-table-item-title{
    width: 320px;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
    text-align: left;
    text-indent: 10px;
    letter-spacing: 5px;
    font-family: Arial;
}
.how-to-choose-step-table-item-content-wrapper{
    padding-left: 45px;
    max-width: 885px;
}
.how-to-choose-step-table-item-content{
    background-color: white;
    border: 2px solid gray;
    width: 100%;
}
.how-to-choose-step-table-item-content td{
    padding-left: 10px;
    text-align: left;
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 5px;
    min-width:130px;
    border: 1px solid red;
    font-family: Arial;
}

.how-to-choose-step-table-item-content thead td{
    border-bottom: 1px solid gray;
    font-weight: bold;
}
.how-to-choose-step-table-item-content tbody tr:nth-child(even){
    background: #e6e6e6;
}
