<!--HOW-TO-CHOOSE STEP DESCRIPTION-->
<div class="how-to-choose-step-table-item">

	<div class="how-to-choose-step-table-item-title-wrapper">
		<div class="how-to-choose-step-table-item-title-inner-wrapper">
			<!--title undescore-->
			<div class="how-to-choose-step-table-item-title-udescore-wrapper">
				<div class="how-to-choose-step-table-item-title-udescore"></div>
			</div>
			<!--title-->
			<div class="how-to-choose-step-table-item-title">{{tableItemObj.title}}</div>
			<!--title undescore-->
			<div class="how-to-choose-step-table-item-title-udescore-wrapper">
				<div class="how-to-choose-step-table-item-title-udescore"></div>
			</div>
		</div>
	</div>

	<div class="how-to-choose-step-table-item-content-wrapper">
		<table class="how-to-choose-step-table-item-content" cellspacing="0">
			<thead>
				<tr>
					<td ng-repeat="compQuant in tableItemObj.comparedQuantities"> {{compQuant.name}}</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="compQuant in tableItemObj.comparedQuantities">
					<td ng-repeat="item in compQuant.values">{{item}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>