<!--HOW-TO-CHOOSE STEP DESCRIPTION-->
<div class="how-to-choose-step-media-item">
	<div class="how-to-choose-step-media-item-img-wrapper">
		<!--json StepDescription img-->
		<img src="{{mediaObj.img}}" alt=""/>
	</div>

	<div class="how-to-choose-step-media-item-content-wrapper">
		  <!--json StepDescription title-->
		  <div class="how-to-choose-step-media-item-title">{{mediaObj.title}}</div>
		  <!--json StepDescription text-->
		  <div class="how-to-choose-step-media-item-text">{{mediaObj.text}}</div>
			<div class="how-to-choose-step-media-item-see-all-wrapper">
				<div class="how-to-choose-step-media-item-see-all">{{mediaObj.seeAll}}</div>
				<div class="how-to-choose-step-media-item-see-all-icon"></div>
			</div>
	</div>

</div>