<!--HOW-TO-CHOOSE DESCRIPTION-->
<div class="how-to-choose-desc">
		<div class="how-to-choose-desc-img-wrapper">
		<!--json StepDescription img-->
		<img src="../img/desc-img.jpg" alt="{{descObj.img}}"/>
	</div>

	<div class="how-to-choose-desc-content-wrapper">
		<!--json StepDescription title-->
		<div class="how-to-choose-desc-title">{{descObj.title}}</div>
		<!--json StepDescription text-->
		<div class="how-to-choose-desc-text">{{descObj.text}}</div>
		<a class="how-to-choose-desc-email-button-wrapper">
			<span class="how-to-choose-desc-email-button">
					<div>{{descObj.button.split(' ')[0]}}</div>
					<div>{{descObj.button.split(' ').splice(1).toString().replace(',',' ')}}</div>
			</span>
		</a>
	</div>
</div>