<!--HOW-TO-CHOOSE-STEP-MEDIA-COLLECTION-ITEM-->
<div class="how-to-choose-step-media-collection-item">

	<div ng-repeat="item in mediaItemCollection" class="how-to-choose-step-media-collection-item-elem-wrapper">
		<div class="how-to-choose-step-media-collection-item-elem">
			<div class="how-to-choose-step-media-collection-item-elem-img-wrapper">
				<img src="{{item.img}}" alt="{{item.img}}"/>
			</div>
			<div class="how-to-choose-step-media-collection-item-content-wrapper">
				<div class="how-to-choose-step-media-collection-item-content-title">
					{{item.title}}
				</div>
				<div class="how-to-choose-step-media-collection-item-content-img-wrapper">
					<div class="how-to-choose-step-media-collection-item-content-img"></div>
				</div>
			</div>
		</div>
	</div>

</div>