/*how-to-choose-step-media-collection-item*/
.how-to-choose-step-media-collection-item{
    overflow: hidden;
    padding:5px 50px;
}
.how-to-choose-step-media-collection-item-elem-wrapper{
    width: 140px;
    float: left;
    padding: 10px;
    text-align: center;
}
.how-to-choose-step-media-collection-item-elem{
    width: 145px;
    background: white;
}
.how-to-choose-step-media-collection-item-elem-img-wrapper{
    padding: 10px;
}
.how-to-choose-step-media-collection-item-content-wrapper{}
.how-to-choose-step-media-collection-item-content-title{
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
}
.how-to-choose-step-media-collection-item-content-img-wrapper{
    padding-bottom: 20px;
}
.how-to-choose-step-media-collection-item-content-img{
    margin: 0 auto;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 999999px;
}
.how-to-choose-step-media-collection-item-content-img:before{
    content: '>';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 1px;
}