<!--how-to-choose-step-->
<div class="how-to-choose-step">
	<div class="how-to-choose-step-wrapper">
		<div class="how-to-choose-step-number">{{stepObj.stepNumber}}</div>
			<div class="how-to-choose-step-title">{{stepObj.stepTitle}}</div>
	</div>
	<div class="how-to-choose-step-content-wrapper">

		<media-item></media-item>
		<table-item></table-item>
		<table-item></table-item>
		<table-item></table-item>

		<!--<table-item></table-item>-->
		<!--<media-item></media-item>-->
		<!--<media-item-collection></media-item-collection>-->
	</div>
</div>
